---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="">
        <div class="flex flex-wrap gap-2">
            {
                tags.map((tag) => (
                    <a
                        href={`/tags/${tag}`}
                        class="bg-zinc-900 text-white px-3 py-1 rounded hover:bg-zinc-600 transition-colors"
                    >
                        {tag}
                    </a>
                ))
            }
        </div>
    </div>
</BaseLayout>
