---
const fullPath = Astro.props.path || Astro.url.pathname;
const subFolders = fullPath
    .split("/")
    .filter((part, index) => part && index !== 0);

let cumulativePath = "";
const links = subFolders.map((folder) => {
    cumulativePath += "/" + folder;
    return { name: folder, path: cumulativePath };
});
---

<div class="flex flex-wrap items-center">
    <div class="w-auto">
        <a
            href="/"
            class="prose dark:prose-invert inline-flex items-center justify-center py-2 px-4 rounded-sm shadow-lg text-white transition duration-100 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 bg-zinc-700 hover:bg-indigo-500 focus:bg-zinc-700 dark:hover:bg-indigo-900 dark:focus:ring-offset-indigo-900"
        >
            ~
        </a>
    </div>
    {
        links.map((link, index) => (
            <div key={index} class={`w-auto ${index === 0 ? '-ml-3' : ''}`}>
                <a
                    href={link.path}
                    class="inline-block 
                           transform -skew-x-12 
                           py-2 
                           rounded-sm 
                           shadow-lg 
                           transition duration-100 
                           focus:outline-none focus:ring-2 focus:ring-indigo-500 
                           bg-zinc-700 hover:bg-indigo-500 focus:bg-zinc-700 
                           dark:hover:bg-indigo-900 dark:focus:ring-offset-indigo-900"
                >
                    <div
                        class="transform skew-x-12 
                                text-center 
                                cursor-pointer 
                                prose 
                                dark:prose-invert"
                    >
                        /{link.name}
                    </div>
                </a>
            </div>
        ))
    }
</div>
