---
const { platform, username } = Astro.props;
---

<a
    href={`https://www.${platform}.com/${username}`}
    class="px-8 py-4 text-white hover:bg-slate-900 dark:text-gray-500 transition duration-300"
>
    {platform}
</a>
