---
import { fade, ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en" transition:animate={fade({ duration: "0.1s" })}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:title" content={pageTitle} />
        <meta property="og:url" content="https://adriangalilea.vercel.app" />
        <meta property="og:type" content="website" />
        <title>{pageTitle}</title>
        <ViewTransitions />
    </head>
    <body>
        <div class="flex flex-col min-h-screen">
            <Header />
            <main class="flex-grow bg-zinc-50 dark:bg-zinc-800 px-3 py-6 lg:px-32 lg:py-48">
                <slot />
            </main>
            <Footer />
        </div>
        <script type="module" src="../scripts/menu.js"></script>
    </body>
</html>
